[submodule "publiccode-crawler"]
	path = publiccode-crawler
	url = https://github.com/italia/publiccode-crawler.git
[submodule "developers-italia-api"]
	path = developers-italia-api
	url = https://github.com/italia/developers-italia-api.git
