---
import Layout from "../layouts/Layout.astro";
import SoftwareCard from "../components/SoftwareCard.astro";
import { type Lang, useTranslations, toFullLocale } from "../i18n/utils";
import LinkButton from "../components/LinkButton.astro";
import organisations from "../../public/organisations.json";
import OrganisationSelection from "../components/OrganisationSelection.astro";

const apiBaseUrl = import.meta.env.API_BASEURL || "http://localhost:3000/v1";
const response = await fetch(`${apiBaseUrl}/software?page[size]=10000`);
const data = await response.json();
const softwares = data.data;
const lang = Astro.currentLocale as Lang;
const t = useTranslations(Astro.currentLocale as Lang);

const dateLocale = toFullLocale(lang);
const buildDate = new Date();
const buildDateFormatted = `${buildDate.toLocaleDateString(dateLocale, {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
})} ${buildDate.toLocaleTimeString(dateLocale, {
  hour: "2-digit",
  minute: "2-digit",
})}`;
---

<Layout>
  <section class="section bg--secondary-50">
    <div class="container">
      <div class="text--xs color--text-600">{t("header.lastUpdated")}: {buildDateFormatted}</div>
      <h1 class="section__title">
        {t("index.title")}
      </h1>
      <h2 class="section__subtitle">{t("index.subtitle")}</h2>

      <div class="card">
        <div class="card__body">
          {t("index.description")}
        </div>
      </div>
      <div class="section__action">
        <LinkButton
          href="https://swiss.github.io/publiccode-editor/"
          text={t("index.publiccode")}
        />
      </div>
    </div>
  </section>
  <section class="section section--default">
    <OrganisationSelection organisations={organisations} />
    <div class="container">
        <div class="grid grid--responsive-cols-3 gap--responsive">
            {softwares.map((software) => <SoftwareCard software={software} />)}
        </div>
        <div id="no-results-message" style="display: none">
            <p>{t("index.noresults")}</p>
        </div>
    </div>
  </section>
</Layout>
