---
import Layout from "../../layouts/Layout.astro";
import SoftwareCard from "../../components/SoftwareCard.astro";
import { type Lang, useTranslations } from "../../i18n/utils";

const apiBaseUrl = import.meta.env.API_BASEURL  || "http://localhost:3000/v1";
const response = await fetch(`${apiBaseUrl}/software?page[size]=10000`);
const data = await response.json();
const softwares = data.data;
const t = useTranslations(Astro.currentLocale as Lang);
---

<Layout>
  <section class="section bg--secondary-50">
    <div class="container">
      <h1 class="section__title">{t('index.title')}</h1>
    </div>
  </section>
  <section class="container section--default">
    <div class="grid grid--responsive-cols-3 gap--responsive">
      {softwares.map((software) => <SoftwareCard software={software} />)}
    </div>
  </section>
</Layout>
