---
import { getLocalePaths } from '../i18n/utils';
---

<div class="language-switcher">
    <label for="lang-switcher" class="sr-only">Select language</label>
    <div class="form__group__select">
        <div class="select select--bare">
            <select id="lang-switcher" class="input--negative input--sm">
              {getLocalePaths(Astro.url).map(({lang, path}) => (
                <option label={lang.toUpperCase()}
                        value={path}
                        selected={lang === Astro.currentLocale} />
              ))}
            </select>
            <div class="select__icon">
                <svg role="presentation" aria-hidden="true" viewBox="0 0 24 24">
                    <path
                        d="m5.706 10.015 6.669 3.85 6.669-3.85.375.649-7.044 4.067-7.044-4.067z"
                    ></path>
                </svg>
            </div>
        </div>
    </div>
</div>

<script is:inline>
  const langSwitcher = document.getElementById('lang-switcher');
  langSwitcher.addEventListener('change', (event) => {
    location.href = event.target?.value;
  })
</script>
