---
import LanguageSwitcher from "./LanguageSwitcher.astro"
---

<div id="top-bar-container" class="top-bar top-bar--is-open">
    <div id="top-bar" class="top-bar__bar">
        <div class="container container--flex">
            <div></div>
            <div class="top-bar__right">
                <LanguageSwitcher/>
            </div>
        </div>
    </div>
</div>
