---
import Logo from "./Logo.astro";
import LogoText from "./LogoText.astro";
import { type Lang, useTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const homeUrl = getRelativeLocaleUrl(lang);
const ossToolsUrl = `https://www.bk.admin.ch/bk/${Astro.currentLocale}/home/digitale-transformation-ikt-lenkung/bundesarchitektur/open_source_software/hilfsmittel_oss.html`;
---

<div class="top-header">
  <div class="top-header__mobile-title" aria-hidden="true">
    <div class="container container--flex">{t("header.title")}</div>
  </div>

  <div class="container container--flex">
    <a class="logo" href={homeUrl}>
      <Logo />
      <LogoText />
      <div class="logo__separator" role="separator" aria-hidden="true"></div>
      <div class="logo-title__container">
        <div class="logo__accronym">OSS</div>
        <div class="logo__title">
          <div>{t("header.logo.title")}</div>
        </div>
      </div>
    </a>
    <div class="top-header__right">
      <div class="meta-navigation-container">
        <nav class="meta-navigation meta-navigation--desktop" aria-label="Meta">
          <ul>
            <li>
              <a class="meta-navigation__item" href="https://swiss.github.io/publiccode-editor/" target="_blank">
                {t("index.publiccode")}
              </a>
            </li>
            <li>
              <a
                class="meta-navigation__item"
                href={ossToolsUrl}
                target="_blank"
              >
                {t("index.tools")}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
